/* ProductDetailComponent.module.css */

/* Estilo para el contenedor de la página */
.row {
  background-color: #ffffff; /* Fondo gris claro */
  padding: 20px;
  min-height: 80vh
}

/* Estilo para el título del producto */
.nombre {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #333; /* Texto en gris oscuro */
}

/* Estilo para la descripción del producto */
.descripcion {
  font-size: 18px;
  margin-bottom: 20px;
  color: #666; /* Texto en gris medio */
}

/* Estilo para el precio del producto */
.precio {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #222; /* Texto en gris oscuro más oscuro */
}

/* Estilo para la imagen del producto */
.imagen {
  border-radius: 20px;
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
