.links{
  text-decoration: none;
  color: black;
}

.buttons{
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.navbar{
  background-color: var(--color-1);
}

.nav{
  background-color: aqua;
}